{# Front Page #}
{% extends "base.twig" %}

{% block content %}

    <ul>
        {% for post in posts %}
            <li>
                <a href="{{post.link }}"><h1>{{ post.title }}</h1></a>
                <br />
            </li>
        {% endfor %}

    </ul>

{% endblock %}