{# Single Post Template: 'single.twig' #}

{% extends "base.twig" %}

{% block content %}
    <div class="row single_content">
        <h1>{{ post.title }}</h1>
        <p>{{ post.get_content }}</p>
    </div>
{% endblock %}